* {
  margin: 0;
  padding: 0;
}


/* BASE STYLES */

.container {
  margin: 0 1.5em;
  background-color: var(--neutral-dark-blue);
  padding: 2em;
  border-radius: 9px;
  max-width: 425px;
}


/* FORM */

.star-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-blue-grey);
  padding: .75rem;
  border-radius: 100%;
  width: 18px;
  height: 18px;
}

#star-icon {
  width: 100%;
  height: 100%;
}

.form-container--title, 
.form-container--text {
  margin: 1rem 0;
}

.form-container--text, 
.form--label {
  color: var(--neutral-med-grey)
}

.form-container--form {
  display: flex;
  flex-direction: column;
}

.form-container--form__labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}

.form--label {
  background-color: var(--neutral-blue-grey);
  padding: 1.05rem;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .1em;
  cursor: pointer;
}

.form--label:hover {
  color: var(--neutral-white);
  background-color: var(--neutral-med-grey);
}

.selected, .selected:hover {
  background-color: var(--primary-orange);
  color: var(--neutral-white)
}

.form--label > input {
  display: none;
}

.form-btn {
  border: none;
  background-color: var(--primary-orange);
  font-family: inherit;
  font-size: .85rem;
  font-weight: var(--fw-bold);
  color: var(--neutral-white);
  text-align: center;
  border-radius: 50px;
  padding: .95em 3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 100%;
  margin: .5em auto;
  cursor: pointer;
}

.form-btn:hover {
  color: var(--primary-orange);
  background-color: var(--neutral-white);
}


/* CONFIRMATION MESSAGE */

.confirmation-container {
  margin: 0 auto;
  text-align: center;
  padding: 1.5em;
  background-color: var(--neutral-dark-blue);
  border-radius: 9px;

}

.img-container {
  margin: 1em auto;
}

.confirmation--selection {
  background-color: var(--neutral-blue-grey);
  color: var(--primary-orange);
  font-size: 1.05rem;
  margin: 1.75em 0;
  padding: .5em .25em;
  border-radius: 20px;
}

.confirmation--title {
  margin: .5em 0;
}

.confirmation--text {
  color: var(--neutral-med-grey);
}


/* MEDIA QUERIES */

@media (min-width: 430px) {
  .form-container--title, 
  .confirmation--title {
    font-size: 2.25rem;
  }

  .form-container--text, 
  .confirmation--text, 
  .confirmation--selection {
    font-size: 1.25rem;
  }

  .form--label {
    font-size: 1.3rem;
    padding: 1.25em;
  }

  .form-btn {
    font-size: 1.05rem;
  }
}
