:root {
  /* COLORS */
  --primary-orange: hsl(25, 97%, 53%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-med-grey: hsl(216, 12%, 54%);
  --neutral-dark-blue: hsl(213, 19%, 18%);
  --neutral-vry-drk-blue: hsl(216, 12%, 8%);

  /* TYPOGRAPHY */
  --font-family: 'Overpass', sans-serif;
  --font-size: 15px;
  --fw-reg: 400;
  --fw-bold: 700;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--neutral-white);
  background-color: var(--neutral-vry-drk-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

